.venv
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csproj
*.vbproj
*.vcxproj
*.vshost
*.vstemplate    
*.csproj.user
*.vbproj.filters
*.vcxproj.filters   
*.user
*.vscode
*.vsinfo
*.vss
*.vssscc
*.vstemplate